.end-xs{
  text-align: right !important;
  margin-top: 1em;
};
.top-space{
  padding: 1em,0;
};
.mat-mdc-form-field{
  width:100%;
}
.image-container{
  width: 256px;
  height: 256px;
  overflow: hidden;
  align-items: center;
}
.image-container img{
  width: 250px;
  height: 250px;
}
